# Default
*  @bjh-developer @JunHammy

# Frontend components
/src/   @bjh-developer @JunHammy @yanganyi @Nareshix @unkn0wnperson @Keonnnnn

# RunPod handler
/runpod/    @bjh-developer @Choco-Bloop

# Supabase migrations
/supabase/  @bjh-developer

# Auth and security
/src/proxy.ts   @bjh-developer @yanganyi
/src/lib/simple-encryption.ts   @bjh-developer @yanganyi
/src/lib/rate-limit.ts  @bjh-developer @yanganyi
/src/lib/turnstile.ts   @bjh-developer @yanganyi

# CI/CD config
/.github/   @bjh-developer
/next.config.*   @bjh-developer
/tailwind.config.*   @bjh-developer